.contacts__title::before {
    content: "";
    display: block;
    margin-bottom: 12px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
    letter-spacing: -1.8px;
    background-image: url("../resources/contacts/phone.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .contacts__phone {
    display: block;
    margin-top: 32px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 472px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-decoration: none;
    border-bottom: 3px solid white;
  
    color: #121212;
  }
  
  .contacts__phone:hover {
    opacity: 0.5;
    border-bottom: 3px solid #121212;
  }
  
  .contacts__email {
    display: block;
    margin-bottom: 142px;
    padding-bottom: 10px;
    width: 412px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-decoration: none;
    border-bottom: 3px solid white;
  
    color: #121212;
  }
  
  .contacts__email:hover {
    opacity: 0.5;
    border-bottom: 3px solid #121212;
  }