.headernav {
    float: right;
  }
  
  .headernav__link {
    margin-left: 57px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.54px;
  
    color: #121212;
  }
  
  .headernav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  
    color: #121212;
  }