@import "/styles/header.css";
@import "/styles/welcome.css";
@import "/styles/about.css";
@import "/styles/project.css";
@import "/styles/services.css";
@import "/styles/presentation.css";
@import "/styles/contacts.css";
@import "/styles/footer.css";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
}

header {
  padding-top: 33px;
  padding-bottom: 70px;
}

.welcome,
.about,
.project {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;

  background: white;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1150px;
}





h1 {
  width: 956px;
  height: 120px;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -1.8px;

  color: #121212;
}

h2 {
  padding-top: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;

  color: #121212;
}





.container-black {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  background: #121212;
}







